version: 2
updates:
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: daily
      time: "12:00"
      timezone: Asia/Tokyo
    open-pull-requests-limit: 20
    allow:
      - dependency-type: direct
      - dependency-type: indirect
